<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Open Trivia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Open Trivia</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <form [formGroup]="formBegin"
    (ngSubmit)="validateStart()">
      <ion-item>
        <ion-label position="floating">Pseudo <ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="pseudo" type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="this.formBegin.get('pseudo')!.invalid && this.formBegin.get('pseudo')!.touched" lines="none">
        <ion-text color="danger" class="form-error">
          Merci d'entrer un pseudo de plus de 3 caractères
        </ion-text>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-select formControlName="selectedDifficulty" aria-label="difficulty" placeholder="Niveau de difficulté">
            <ion-select-option value="easy">Easy</ion-select-option>
            <ion-select-option value="medium">Medium</ion-select-option>
            <ion-select-option value="hard">Hard</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-checkbox
          formControlName="memorize"
          labelPlacement="start"
          position="floating">
          Mémoriser ce informations
        </ion-checkbox>
      </ion-item>
      <ion-button type="submit" [disabled]="!formBegin.valid" buttonType="block">
        Commencer
      </ion-button>
    </form>
  </div>
</ion-content>
